/* HABILIDADES */
.habilidades .container-habilidades {    
    text-align: center;    
    display: flex;
    justify-content: center;    
    flex-direction: row;
    flex-wrap: wrap;
}

.habilidades .container-habilidades .informacoes{
    max-width: 350px;
    max-height: 400px;
    padding: 40px 20px;
    border: solid 1px var(--cor-fundo-cinza-claro);
    margin: 10px;
    border-radius: 30px;
    transform-style: preserve-3d;
}

.habilidades .container-habilidades .informacoes p,
.habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo i{
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transform-style: preserve-3d;
}

.habilidades .container-habilidades .informacoes:hover p,
.habilidades .container-habilidades .informacoes:hover h3,
.habilidades .container-habilidades .informacoes:hover .logo i{
    color: var(--cor-primaria);
    transform: translate3d(0,0,50px);
}

.habilidades .container-habilidades .informacoes h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--cor-primaria);      
}

.habilidades .container-habilidades .informacoes p {
    font-size: 1.8rem;
    font-family: var(--fonte-secundaria);
}

.habilidades .container-habilidades .informacoes .logo i {
    font-size: 8rem;
}